name: Remote SSH Command 

on:
  schedule:
    - cron: "*/10 * * * *"
  push:
    branches:
      - main
      
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: 217.144.187.254
        username: root
        password: 6X9rEYln8spq
        port: 22
        script: cd && cd root && cd exolve1 && npm install && npm run build && npm run dev -- --host && loclx tunnel http --reserved-domain sippan.loclx.io --to 217.144.187.254:443 && bash run_commands.sh
